.tabPanel {
  border: 1px solid themes.$border-subtle-00;
  // border-top: none;
}

.container {
  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }

  & > * {
    margin-bottom: layout.$spacing-06;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
