$indent: layout.$spacing-05;

.sideBar {
  background-color: themes.$layer-01;

  &:global(.cds--side-nav--expanded) {
    border-right: 1px solid themes.$border-subtle-00;
  }

  @include resources.apply-greater-than('lg') {
    border-right: 1px solid themes.$border-subtle-00;
  }
}

.switcherItem {
  margin: 0 !important;
  justify-content: center;
  align-items: center;
}

.headerPanel {
  padding-top: layout.$spacing-05;
  height: min-content !important;
  border-bottom: 1px solid themes.$border-subtle-00;
}

.headerButton {
  @include resources.apply-greater-than('lg') {
    display: none;
  }
}

@for $i from 0 through 10 {
  .pl-#{$i} {
    & > button > span {
      padding-left: calc($i * $indent);
***REMOVED***

    & > span {
      padding-left: calc(max($i - 1, 0) * $indent);
***REMOVED***
  }
}
