@use '@carbon/styles/scss/config';
@use "sass:map";

$header-height: 3rem;
$sidebar-width: 16rem;

$breakpoints: (
  'sm': map.get(config.$grid-breakpoints, 'sm', 'width'),
  'md': map.get(config.$grid-breakpoints, 'md', 'width'),
  'lg': map.get(config.$grid-breakpoints, 'lg', 'width'),
  'xl': map.get(config.$grid-breakpoints, 'max', 'width'),
  'xxl': calc(map.get(config.$grid-breakpoints, 'max', 'width') + 20rem)
);
