.sideNavMenuItem {
  & :global(.cds--tag__custom-icon) {
    margin-right: layout.$spacing-03;
  }

  & svg {
    fill: themes.$text-primary;
    height: 100%;

    & path {
      height: 100%;
***REMOVED***
  }
}
